
.outside-border-profile {
    padding: 10px;
    margin: 0 auto;
    width: 400px;
}

.inside-border-profile {
    padding: 10px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    height: 230px;
}


.single-profile-container {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.single-name{
    padding:5px;
}

.single-name{
    padding:5px;
    font-weight: bold;
    font-size: 20px;
}

.single-description{
    padding:5px;
}

.profile-link-image {
    height: 40px;
    width: 40px;
}

.single-socials {
    padding: 10px;
    font-size: 20px;
}