
.sign-up-page-title {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.sign-up-slogan {
    padding: 3px;
    color: rgb(0, 0, 0);
}

.text-field-profile {
    font-family: Montserrat;
    padding: 7px;
}

.text-area-for-posts {
    font-family: Montserrat;
    height:100px;
    width: 184px;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 8%;
    resize: none;
    padding: 3px;
}

.create-photo-slogan {
    padding: 2px;
    color: rgb(0, 0, 0);
}

.username-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
}

.username-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
}

.password-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
}

.password-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
}

.signup-button {
    color: rgb(199, 199, 199);
    background-color: #304c81;
    width: 116px;
    height: 38px;
    font-family: Montserrat;
    border-style: none;
    border-radius: 30px;
    padding: 3px;
}

.signup-button-outside-border {
    padding: 7px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}