
.sign-in-page-title {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}

.sign-in-slogan {
    padding: 2px;
}

.email-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid black;
    border-radius: 10px;
}

.email-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
}

.password-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid black;
    border-radius: 10px;
}

.password-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
}

.login-button {
    color: black;
    background-color: #5EF59B;
    width: 116px;
    height: 38px;
    font-family: Montserrat;
    border-style: none;
    border-radius: 30px;
    padding: 3px;
}

.login-button-outside-border {
    padding: 7px;
}