
.sign-in-page-title {
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.sign-in-slogan {
    padding: 2px;
}

.username-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
}

.username-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
    
}

.password-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
    border-color: #304c81;
}

.password-box-outside-border {
    font-family: Montserrat;
    padding: 7px;
}

.login-button {
    color: rgb(199, 199, 199);
    background-color: #304c81;
    width: 116px;
    height: 38px;
    font-family: Montserrat;
    border-style: none;
    border-radius: 30px;
    padding: 3px;
}

.login-button-outside-border {
    padding: 7px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.test{
    background-image: url('http://localhost:3001/city-wave.gif');
}