
.create-post-title {
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(124, 124, 124);
}

.create-post-slogan {
    padding: 2px;
    color: rgb(124, 124, 124);
}

.create-post-title-box {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 10px;
}

.text-field-posts {
    font-family: Montserrat;
    padding: 7px;
}


textarea {
    font-family: Montserrat;
    height:150px;
    width: 184px;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 8%;
    resize: none;
    padding: 3px;
    font-size: 17px;
}

.create-post-button {
    color: rgb(199, 199, 199);
    background-color: #304c81;
    width: 116px;
    height: 38px;
    font-family: Montserrat;
    border-style: none;
    border-radius: 30px;
    padding: 3px;
}


.create-post-button-outside-border {
    padding: 7px;
    color: rgb(124, 124, 124);
    font-weight: 500;
}
