
.create-post-title {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}

.create-post-slogan {
    padding: 2px;
}

input {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid black;
    border-radius: 10px;
}

.text-field-posts {
    font-family: Montserrat;
    padding: 7px;
}


textarea {
    font-family: Montserrat;
    height:150px;
    width: 184px;
    border: 2px solid black;
    border-radius: 8%;
    resize: none;
    padding: 3px;
    font-size: 17px;
}

.create-post-button {
    color: black;
    background-color: #5EF59B;
    width: 116px;
    height: 38px;
    font-family: Montserrat;
    border-style: none;
    border-radius: 30px;
    padding: 3px;
}


.create-post-button-outside-border {
    padding: 7px;
}
