
.outside-border-searchbar {
    padding: 10px;
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 10px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 20px;
    border-style: solid;
    background-color: white;
    border-radius: 10px;
    height: 200px;
}  

.flex-child:first-child {
    margin-right: 50px;
} 

.posts {
    text-decoration: none;
    color: black;
}

.blog-posts-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.view-posts-container {
    margin: 0 auto;
}

.author-searchBar {
    width: 150x;
    height: 34px;
    font-size: 17px;
    text-align: start;
    border: 2px solid black;
    border-radius: 10px;
}

.post-title-view-posts {
    font-weight: bold;
    font-size: 20px;
}

.view-posts-photo {
    width: 250px;
    height: 140px;
}