nav {
    float: right;
}

.container {
    margin: 0 auto;
    color:rgb(0, 0, 0);
    overflow:auto;
    padding: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    font-size: 20px;
    position: relative;
}

.compiler {
    float: left;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
}

.compiler-slogan {
    float: left;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
  